/* Téléphone toute la largeur de l'écran */
@media only screen and (max-width: 499px) {
  body {
    width: 100%;
    margin: 0px;
  }
}

/* Ordinateur taille maximale de 500px */
@media only screen and (min-width: 500px) {
  body {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

img, video, audio {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Ubuntu";
  background-image: url("../images/christmas-background.png");
  background-repeat: repeat-y;
  background-size: cover;
  color: lightskyblue;
}

strong {
  font-weight: bolder;
  color: dodgerblue;
}

hr {
  border: 1px solid snow;
}

h1, h2 {
  color: lightskyblue;
  text-decoration: underline;
  text-align: center;
  text-shadow: 0 0 5px black;
}

header, main, section, footer {
  background: rgb(214, 0, 28);
  margin: 10px 10px;
  padding: 3px 3px;
  border: thin solid snow;
}

footer {
  text-align: center;
}

footer a {
  display: inline-block;
}

div a {
  display: inline-block;
  padding: 0px 3px;
}

pre {
  text-align: left;
  border: thin solid black;
  margin: 3px 3px;
}

p, div.question {
  text-align: center;
  border: medium dotted snow;
  margin: 5px 0px;
  padding: 3px 3px;
}

p.form {
  color: snow;
  background-color: mediumblue;
  border: none;
}

p.error, p.warning {
  color: red;
  background-color: snow;
  border: medium solid snow;
}

p.success {
  color: green;
  background-color: snow;
  border: medium solid snow;
}

.valid, .valid strong {
  background-color: snow;
  color: green;
}

.invalid, .invalid strong {
  background-color: snow;
  color: red;
}

button.valid, button.invalid {
  background-color: lightskyblue;
}

.answered .valid, .answered .invalid {
  background: none;
}

.answered .valid {
  color: dodgerblue;
}

.answered .invalid {
  color: lightskyblue;
}

div.select_quiz_unfolded, div.select_quiz_folded {
  margin: 5px 0px;
}

div.select_quiz_unfolded {
  border: medium solid mediumblue;
}

div.select_quiz_folded {
  border: none;
}


div.bug_report, div#confirm-box {
  border: medium solid mediumblue;
  padding: 3px 5px;
  margin: 5px 0px;
}

div.bug_report p {
  text-align: left;
}

p.bug_msg, p.bug_response {
  color: mediumblue;
  border: medium solid snow;
  background-color: snow;
}

table {
  border: medium solid lightskyblue;
  border-collapse: collapse;
  width: 100%;
}

td, p.info {
  text-align: center;
  color: mediumblue;
  background-color: dodgerblue;
  border: medium solid lightskyblue;
}

p.info {
  border: medium solid dodgerblue;
}

th {
  color: snow;
  background-color: mediumblue;
}

button, input {
  font-weight: normal;
}

input[type="checkbox"], input[type="radio"] {
  display: inline-block;
  width: auto;
  margin: 8px 5px;
}

input, button, a[href="index.php"], select {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 1px 0px;
  padding: 5px 0px;
  width: 100%;
}

input, button, a {
  font-size: medium;
  text-decoration: none;
  background-color: lightskyblue;
  border: medium solid lightskyblue;
  color: mediumblue;
  cursor: pointer;
}

input[type=text], input[type=password] {
  background-color: snow;
  border: medium solid snow;
}

button, a, input[type="submit"] {
  border-radius: 10px;
} 

input[type=password] {
  text-align: left;
}

input[type=submit]:hover, a:hover, button:hover {
  background-color: dodgerblue;
  border: medium solid dodgerblue;
}

input[type=text].response {
  border-color: mediumblue;
}

input:focus, textarea:focus {
  outline: none;
}

div#modify_responses {
  color: mediumblue;
  display: flex;
  align-items: center;
}

div#modify_responses input[type="checkbox"] {
  position: relative;
  appearance: none; outline: none;
  width: 35px; height: 15px;
  background-color: #ffffff; 
  border: none;
  border-radius: 35px; 
  box-shadow: inset -20px 0 0 0 #dddddd;
  transition-duration: 200ms;
}

div#modify_responses input[type="checkbox"]:checked {
  border-color: mediumblue;
  box-shadow: inset 20px 0 0 0 mediumblue;
}

button {
  margin: 5px 0px;
}

textarea {
  color: mediumblue;
  background-color: snow;
  box-sizing: border-box;
  border: medium solid lightskyblue;
  resize: none;
  width: 100%;
  height: 100px;
  text-align: left;
}

#select_page, #confirm-box #flex-container {
  display: flex;
}

#select_page button, #confirm-box button {
  width: 100%;
  border: medium solid mediumblue;
  border-radius: 0px;
  background-color: mediumblue;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

#select_page span#num_page {
  border: medium solid white;
  background-color: white;
  color: mediumblue;
  padding: 5px 0px;
  align-self: center;
}

#select_page button:hover, #confirm-box button:hover {
  color: deepskyblue;
}

#select_page button#previous_page, #confirm-box button#confirm {
  margin-right: 2%;
}

#select_page button#next_page, #confirm-box button#cancel {
  margin-left: 2%;
}

#confirm-box p {
  font-weight: bold;
  border: none;
}
