/* Téléphone toute la largeur de l'écran */
@media (max-width < 500px) {
  body {
    width: 100%;
  }
}

/* Ordinateur taille maximale de 500px */
@media (width >= 500px){
  body {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  font-family: "Ubuntu";
}

strong {
  font-weight: bolder;
  color: mediumblue;
}

h1, h2 {
  color: mediumblue;
  text-decoration: underline;
  text-align: center;
}

header, main, section, footer {
  background: lightskyblue;
  border: medium solid white;
}

footer {
  text-align: center;
}

footer a {
  display: inline-block;
}

p {
  text-align: center;
  border: medium dotted royalblue;
  margin: 5px 0px;
}

p.form {
  color: white;
  background-color: mediumblue;
  border: none;
}

p.error, p.warning {
  color: red;
  border: medium dotted red;
}

p.success {
  color: green;
  border: medium dotted green;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

div.select_quiz {
  border: medium solid royalblue;
  margin: 5px 0px;
}

table {
  border: medium solid lightskyblue;
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
  background-color: deepskyblue;
  border: medium solid lightskyblue;
}

th {
  color: white;
  background-color: mediumblue;
}

button, input {
  font-weight: normal;
}

input[type="checkbox"], input[type="radio"] {
  display: inline-block;
  width: auto;
  margin: 8px 5px;
}

input, button, a[href="index.php"], select {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: 1px 0px;
  padding: 0px 0px;
  width: 100%;
}

input, button, a {
  font-size: medium;
  text-decoration: none;
  background-color: white;
  border: medium solid deepskyblue;
  color: black;
  cursor: pointer;
}

button, a, input[type="submit"] {
  border-radius: 10px;
} 

input[type=password] {
  text-align: left;
}

input[type=submit]:hover, a:hover, button:hover {
  background-color: deepskyblue;
}

input:focus, textarea:focus {
  outline: none;
}

button {
  margin: 5px 0px;
}

textarea {
  box-sizing: border-box;
  border: medium solid deepskyblue;
  resize: none;
  width: 100%;
  height: 100px;
  text-align: left;
}